body, h1, p, ul, li, a {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Empty Cart Styling */
.cart-empty {
    text-align: center;
    margin-top: 50px;
}

.cart-empty h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-empty p {
    font-size: 18px;
    color: #ffffff;
    background-color: #b93639;
    padding: 10px 400px;
    display: inline-block;
    border-radius: 5px;
    font-weight: bold;
    margin-bottom: 15px;
    text-align: center;
}

.return-to-shop {
    padding: 8px 20px;
    background-color: #000000;
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.return-to-shop:hover {
    background-color: #000000;
    color: #b93639;
}

.cart-filled h1 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 20px;
}

.cart-filled {
    max-height: 70vh;
    overflow-y: auto;
    margin-bottom: 20px;
    text-align: right;
    font-size: 18px;
    margin-top: 20px;
}

.cart-filled table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.cart-filled th, .cart-filled td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.cart-filled img {
    width: 50px;
    height: auto;

}



.checkout-button {
    display: block;
    width: 200px;
    margin: 20px auto;
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.checkout-button:hover {
    background-color: #000000;
    color: #b93639;
}

.remove-button {
    background-color: #b93639;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.remove-button:hover {
    background-color: #000;
    color: #b93639;
}


@media (max-width: 768px) {


    .cart-empty, .cart-filled {
        padding: 10px;
    }

    .cart-empty p {
        padding: 10px 20px;
        font-size: 14px;
    }

    .cart-filled table {
        font-size: 14px;
    }

    .cart-filled th, .cart-filled td {
        padding: 8px;
    }

    .checkout-button, .return-to-shop {
        width: 100%;
        margin: 15px 0;
    }

    .checkout-button {
        font-size: 14px;
    }


}
