{% extends 'base.html' %}

{% set page_head_title = 'KETTLER KE3086d' %}

{% block page_head_css %}
<link rel="stylesheet" href="{{ url_for('shop.static', filename='css/products.css') }}">
{% endblock %}

{% block page_body_main_content %}
<div class="product-page">
    <div class="product-image" data-size="medium">
        <img src="{{ url_for('KETTLERKE3086d.static', filename='images/product4.png') }}" alt="KETTLER KE3086d">
    </div>
    <div class="product-details">
        <h1>KETTLER KE3086d</h1>
        <p class="price">9,000 ₪</p>
        <div class="quantity">
            <input type="number" id="product-quantity" value="1" min="1">
        </div>
        <button class="add-to-cart">Add to cart</button>
    </div>
</div>
<div class="description-container">
    <div class="description">
        <h2>Description</h2>
        <p>
            The <strong>KETTLER KE3086d</strong> is a professional-grade fitness machine designed to deliver a
            high-intensity workout experience.
            With robust construction, ergonomic seating, and advanced resistance settings, this machine is perfect
            for building strength
            and improving endurance.
        </p> This machine is an excellent choice for anyone looking to improve fitness and endurance.

    </div>
</div>
{% endblock %}

{% block page_body_js %}
<script src="{{ url_for('KETTLERKE3086d.static', filename='js/KETTLERKE3086d.js') }}"></script>
<script src="{{ url_for('shop.static', filename='js/shop.js') }}"></script>
{% endblock %}
